<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- declare a prefix name th with namespace given by thymeleaf URI -->
<!-- imports thymeleaf html tags -->
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: navbar"></nav>
    <h1 th:text="${title}">Default Heading</h1>
    <!-- value within ${key_name} tells thymeleaf to look for value within the `model` with key : key_name-->

    <!-- conditionally insert an element -->
    <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

    <ul>
        <li th:each="cheese : ${cheeses}" th:text="${cheese}"></li>
        <!-- th:each ask thymeleaf to repeat the current element for each cheese in cheeses -->
        <!-- th:text inserts the value as text -->
    </ul>

</body>
</html>